@using ITinnovDesign.Storefront.Controllers.ViewModels;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="smoverlay" class="smoverlay"></div>
<div id="basketSummary">
    <span class="basket-details">
        @Html.ActionLink("Your Basket", "Detail", "Basket")

        <span id="basket-summary-text">
            @if (Model.NumberOfItems == 0)
            {
                <span>is empty</span>
            }
            else
            {
                @(Model.NumberOfItems) <span>Item(s) at </span> @Model.BasketTotal
            }
        </span>


    </span>

</div>
