@using ITinnovDesign.Storefront.Services.ViewModels
@using ITinnovDesign.Storefront.Controllers.ViewModels.CustomerAccount

<partial name="_CustomerAccountMaster" />
<h2>Delivery Addresses</h2>

    @Html.ActionLink("Add new address", "AddDeliveryAddress", "Customer")

<ul>
    @foreach (DeliveryAddressView deliveryAddress in
    Model.Customer.DeliveryAddressBook)
    {
    
    <li>
        @Html.ActionLink(deliveryAddress.Name, "EditDeliveryAddress",
        "Customer",
        new { deliveryAddressId = deliveryAddress.Id }, null)
    </li>
    }
</ul>    